[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=false
insert_final_newline=false
indent_style=space
indent_size=2

[{*.sht,*.htm,*.html,*.shtm,*.shtml}]
indent_style=space
indent_size=4

[{*.mod,*.dtd,*.ent,*.elt}]
indent_style=space
indent_size=4

[{*.jhm,*.xjb,*.rng,*.rdf,*.qrc,*.wsdl,*.fxml,*.owl,*.pom,*.xslt,*.jrxml,*.ant,*.svg,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.wsdd,*.wadl,*.xml}]
indent_style=space
indent_size=2

[{.babelrc,.stylelintrc,.eslintrc,*.bowerrc,*.jsb3,*.jsb2,*.avsc,*.avpr,*.json}]
indent_style=space
indent_size=2

[*.css]
indent_style=space
indent_size=4

[*.proto]
indent_style=space
indent_size=2

[{*.applejs,*.js}]
indent_style=space
indent_size=2

[{*.gson,*.gradle,*.groovy,*.gant,*.gdsl,*.gy}]
indent_style=space
indent_size=2

[{*.pyw,*.py}]
indent_style=space
indent_size=2